{% extends "base.html.twig" %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>

<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque temporibus debitis odit odio perspiciatis cum quibusdam similique quo tenetur incidunt? 
    Nihil soluta id voluptatum perferendis blanditiis eius qui, magni amet ad! Optio mollitia dolorum eum tempora molestiae perferendis a atque. </p>

{% endblock %}